.about-section {
    position: relative;
    background: white;
    overflow: hidden;
    padding: 6rem 1rem;
  }
  
  /* CONTENEDOR */
  .about-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    z-index: 2;
  }
  
 
  .about-text {
    flex: 1;
  }
  
  .about-text h2 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  
  .divider {
    display: block;
    width: 50px;
    height: 4px;
    background: #7c3aed;
    margin: 0.5rem 0 1.5rem;
  }
  
  .about-text p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background: #7c3aed;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  /* IMAGEN */
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .about-image img {
    max-width: 100%;
    border-radius: 6px;
  }
  
  /* FORMAS MORADAS */
  .bg-shape {
    position: absolute;
    left: 0;
    width: 100%;
    height: 140px;
    background: linear-gradient(135deg, #0b7139, #058b09);
    z-index: 1;
  }
  
  
  .top-shape {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
  }


  .bottom-shape {
    bottom: 0;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  }
  
  /* RESPONSIVE */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      text-align: center;
    }
  
    .divider {
      margin: 0.5rem auto 1.5rem;
    }
  }
  