.footer {
  background-color: #0b7139;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 20px;
  box-shadow: 0 -6px 8px #058b09;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  z-index: 1000;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.footer p {
  color: #ccc;
}